.navPusher:after {
  content: unset;
}

.fixedHeaderContainer {
  display: none;
}

.homeWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.homeContainer .homeWrapper {
  padding: 0 2em;
}

.projectTitle {
  margin-top: 0;
  line-height: 1.4em;
}

.projectLogo {
  display: block !important;
  position: relative !important;
  padding: 2em 2em 2em !important;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
}

.demoSection .image-swiper {
  background-color: #fff;
  height: 265px;
  width: 400px;
  margin: 0 auto;
  border-radius: 4px;
}

.demoSection .image-slide {
  height: 100%;
  display: block;
}

.demoSection .image-swiper .virchual__control svg {
  height: 20px;
  width: 20px;
  display: block;
  fill: currentcolor;
}

.nav-footer {
  background: transparent;
}

.nav-footer .copyright {
  color: #202020;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
