.virchual {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.virchual__frame {
  position: relative;
  z-index: 0;
  height: 100%;
  user-select: none;
}

.virchual__slide {
  background-color: #fff;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  transform: translate3d(0%, 0px, 0px);
  will-change: transform;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}

.virchual__slide * {
  -webkit-user-drag: none;
  -ms-user-drag: none;
  -moz-user-drag: none;
  user-drag: none;
  user-select: none;
  pointer-events: none;
}

.virchual__slide--active {
  z-index: 10;
}

.virchual__control {
  appearance: none;
  position: absolute;
  border: none;
  background-color: transparent;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  position: absolute;
  z-index: 1;
  outline: 0;
  height: 100%;
  cursor: pointer;
  transition: background 0.3s ease 0s;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.virchual__control:focus {
  outline: none;
}

.virchual__control--prev {
  left: 0;
}

.virchual__control--next {
  right: 0;
}

.virchual__control svg {
  height: 20px;
  width: 20px;
  display: block;
  fill: currentcolor;
  color: #fff;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.3));
}

.virchual__pagination {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}

.virchual__pagination-bullet {
  width: 16px;
  height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  position: absolute;
  transition: 0.2s transform;
}

.virchual__pagination-bullet::before {
  content: '';
  height: 8px;
  width: 8px;
  display: block;
  transform: scale(0.75);
  opacity: 0.65;
  border-radius: 100%;
  background: #fff;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.3));
}

.virchual__pagination-bullet--edge::before {
  transform: scale(0.5);
}

.virchual__pagination-bullet--active::before {
  transform: scale(1);
  transition-duration: inherit;
  opacity: 1;
}

.virchual__lazy {
  opacity: 0.4;
  transition: opacity 0.5s;
}

.virchual__lazy--loaded {
  opacity: 1;
}
